@{
    ViewBag.Title = "About";
    Layout = "~/Views/MainLayout/_MainLayout_noSearch.cshtml";
}

<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900&display=swap" rel="stylesheet">

    <section class="ftco-section ftco-no-pb">
        <div class="container">
            <div class="row d-flex mb-5 contact-info justify-content-center">
                <div class="col-md-8">
                    <div class="row mb-5">
                        <div class="col-md-4 text-center py-4">
                            <div class="icon">
                                <span class="icon-map-o"></span>
                            </div>
                            <p><span>Address:</span> 590 Cach Mang Thang Tam street, Ward 11 , District 3, Ho Chi Minh city, VietNam</p>
                        </div>
                        <div class="col-md-4 text-center border-height py-4">
                            <div class="icon">
                                <span class="icon-mobile-phone"></span>
                            </div>
                            <p><span>Phone:</span> <a href="tel://1234567920">+ 84 956 810 932</a></p>
                        </div>
                        <div class="col-md-4 text-center py-4">
                            <div class="icon">
                                <span class="icon-envelope-o"></span>
                            </div>
                            <p><span>Email:</span> <a href="#">RealtorsPortalSystem@yoursite.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row block-9 justify-content-center mb-5">
                <div class="row no-gutters">
                    <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../images/a1.jpg);">
                    </div>
                    <div class="col-md-6 wrap-about py-md-5 ftco-animate">
                        <div class="heading-section p-md-5">
                            <h2 class="mb-4">Introduction and Existing Scenario</h2>

                            <p>
                                Real estate is a rapidly growing field in the country and everyone needs to hunt for the good house / property.
                                Generally people visit the various agents/brokers in order to buy/sell properties or find tenant.
                            </p>
                            <p>Now days, life of everybody being very hectic, it really becomes difficult for people each time to visit agent, specify the criteria or make him understand the requirements and find a suitable and comfortable choice much quicker. Day by day the situation is becoming worst and people are finding it difficult to locate good houses. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div id="map" class="bg-white">

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3267176085287!2d106.6642987144858!3d10.786269461962148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f39e5fa506f%3A0xe9b82409cff3ad0d!2zNTgwIEPDoWNoIE3huqFuZyBUaMOhbmcgVMOhbSwgUGjGsOG7nW5nIDExLCBRdeG6rW4gMywgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1578460308539!5m2!1svi!2s" width="1000" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>



